@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
html {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    width: 8.5in;
    height: 11in;
    /* border: thin solid red; */
    background: black;
}

@page {
    size: A4;
    background: white;
    font-size: 10pt;
}

body {
    background: white;
    display: flex;
    align-content: center;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0.26in 0.2in;
}

#leftBar {
    color: black;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: stretch;
    justify-content: space-between;
    width: 2.5in;
    height: 100%;
}

#leftBar h3 {
    font-size: 14pt;
    font-weight: 600;
    margin: 0.0625in 0;
}

#leftBar h4 {
    font-weight: 600;
}

#leftBar > div{
    padding: 0.125in 0.25in;
    width: 100%;
    flex-grow: 1;
}

#titling {
    flex-basis: 5%;
    background: #f88;
}

#titling h1 {
    font-size: 22pt;
    font-weight: 600;
    margin-bottom: 0.0625in;
}

#titling h2 {
    font-size: 12pt;
}

#info {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
    justify-content: space-evenly;
    background: #8f8;
}

#references {
    flex-basis: 5%;
    padding: 0.25in;
}

#info li {
    margin: 0.0625in 0;
}

#skills {
    flex-basis: 85%;
    background: #8ff;
}

#skills h4 {
    margin-bottom: 0.0625in;
}

#skills>ul>li {
    margin: 0.125in 0;
}

#skills>ul>li>ol>li {
    margin: 0.0625in 0;
}

#content {
    /* padding: 0.25in; */
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-around;
    width: 6.5in;
    padding: 0.25in;
}

#content h3 {
    font-size: 14pt;
    font-weight: 600;
}

#content>div>p {
    margin: 0.125in 0;
    line-height: 1.25;
}

#content>div>ul>li {
    margin: 0.125in 0;
}

#content>div>ul>li>ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0.0625in 0.125in;
    width: 90%;
}

#content>div>ul>li>ul>li {
    margin-bottom: 0.0625in;
    list-style-type: square;
    list-style: square inside;
}

.entryTitleBar {
    margin-bottom: 0.125in;
}

.entryName {
    font-weight: 600;
    display: inline;
}

.date {
    float: right;
}

#content h4 {
    display: inline;
}